<!DOCTYPE html>
<html lang="fr">
  <head>
	<meta charset="utf-8" />
    <title>Acceuil</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
	<%- include header.ejs %>
	<div id="contenu">
      <h1>INSCRIVEZ-VOUS</h1>
	  <form id="inscription" action="inscription" method="post">
		<input type="text" name="prenom" placeholder="Prénom" required>
		<input type="text" name="nom" placeholder="Nom de famille" required>
		<br>
		<input type="email" name="mail" placeholder="Adresse mail" required>
		<br>
		<input type="password" name="mdp" placeholder="Mot de passe" minlength="6" required>
		<br><br>
		<p>Qu'êtes-vous ?</p>
		<input type="radio" name="type" value="passager" required>
		<label for="passager">Passager</label>
		<input type="radio" name="type" value="chauffeur" required>
		<label for="chaffeur">Chauffeur</label>
		<div id="serviceInscription">
		  <p>Service</p>
		  <select name="service">
			<option value="uberX">uberX</option>
			<option value="uberPool">uberPool</option>
			<option value="uberBerline">uberBerline</option>
		  </select>
		</div>
		<br><br>
		<input type="submit" value="CRÉER UN COMPTE">
	  </form> 
	</div>
	<%- include footer.ejs %>
  </body>
</html>
