<!DOCTYPE html>
<html lang="fr">
  <head>
	<meta charset="utf-8" />
    <title>Acceuil</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
	<strong><%= msg %></strong>
  </body>
</html>
