{% extends "InstagramBundle:Default:layout.html.twig" %}

{% block navRight %}
	{{ include("InstagramBundle:Default:navbar-right.html.twig") }}
{% endblock %}

{% block body %}
	<div class="row" style="text-align:center">
		<div class="col-md-6 col-md-offset-3 form-horizontal canvas well">
			<p>Site créé par Rhodier Pierre et Akli Chemakh.</p>
		</div>
	</div>
{% endblock %}